{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.2"]
                [cider/cider-nrepl "0.25.4"]
                [reagent "1.0.0-alpha2"]]
 :dev-http {8080 "target/"}
 :builds {:dapp {:output-dir "target/"
                 :asset-path "."
                 :target :browser
                 :modules {:main {:init-fn anticafe.web.main/main!}}}}}
